name: build

on: 
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      # Install dependencies
      - run: npm ci

      # Build and output webpack stats to dist/webpack-stats.json
      - run: npm run build

      # Send webpack stats and build information to RelativeCI
      - name: Send webpack stats to RelativeCI
        run: npx relative-ci-agent
        env:
          RELATIVE_CI_KEY: ${{ secrets.RELATIVE_CI_KEY }}

      - name: Archive build stats
        uses: actions/upload-artifact@v5
        with:
          name: test-artifacts
          path: |
            dist/webpack-stats.json
